section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ------------------------------ BON CADEAU --------------------------- */

.divBonCadeau {
  display: flex;
  flex-direction: column;
  inline-size: 500px;
  border: thick double black;
  background-color: goldenrod;
  align-items: center;
}
